{%extends "base.html"%}
{% block title %}
{% endblock title %}




{% block content %}

    <div class="container">
        <div class="col-sm-4 mx-auto my-4 ">
            <h3 class="my-3">Become an Admin</h3>
        
            <form action="" method="POST" novalidate>
                {% csrf_token %} 
                {% for field in form %}
                    {{field.label_tag}} {{field}} 
                    <small class="text-danger">{{field.errors|striptags}}</small>
                {% endfor %}<br>
                <input type="submit" value="SignUp" class="btn btn-primary">

                <!-- {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <p class="alert alert-danger my-3">{{error}}</p>
                    {% endfor %}
                {% endif %} -->
            </form>

            
        </div>
    </div>

{% endblock content %}