{% extends "base.html" %}
{% block content %}
<div class=" justify-content-center align-items-center mt-0"
    style="background-color: #f6f8f6; min-height: 100vh; display: flex;">
    <div class="container shadow  text-center" style="background-color: #494e4a; min-height: 40vh; margin-top:7; width:100vh ;">
        <div class="align-items-center text-warning ">
    <h1>Oops!..No faces found. Ensure the camera is positioned correctly</h1>
    <h1>Please try again.</h1>
    </div>
    </div>
</div>
{% endblock content %}
